
.nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
	gap: 39px;
	width: 1440px;
	height: 129px;
}

.nav_buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.free_consult_btn{
	transition: 1s;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 13px 0px;
	gap: 9px;
	width: 352px;
	height: 47px;
	background: #FFFFFF;
	border: 2px solid #1723C7;
	cursor: pointer;
	color: #1723C7;
}

.free_consult_btn:hover {
	transition: 1s;
    background: #1723C7;
	color: #FFFFFF;

	.free_consult_btn_img{
		filter: invert(50%);
	}
}

.free_consult_btn_name{
	width: 269px;
	height: 25px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 21.7054px;
	line-height: 25px;
	display: flex;
	align-items: center;
	
}

.free_consult_btn_square{
	width: 25px;
	height: 25px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.free_consult_btn_img{
  transition: 1s;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(./assets/images/arrowUpBlue.png);
  border: none;
}



.enter_btn_square{
	width: 25px;
	height: 25px;
}

.enter_btn{
	transition: 1s;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 13px 21px;
	gap: 18px;
	width: 200px;
	height: 47px;
	background: #1723C7;
	color: #FFFFFF;
	border: none;
	margin-left: 30px;
	cursor: pointer;
}

.enter_btn:hover{
	transition: 1s;
	background: #FFFFFF;
	color: #1723C7;
	border: 1px solid #1723C7;

	.enter_btn_btn_img{
		filter: invert(50%);
	}
}

.enter_btn_name{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 21.7054px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
}

.enter_btn_btn_img{
	transition: 1s;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(./assets/images/arrowUpWhite.png);
	border: none;
}
.show_menu_btn{
	width: 129px;
	height: 129px;
	flex: none;
	order: 2;
	flex-grow: 0;
	background-size: cover;
	background-image: url(./assets/images/menu.png);
	cursor: pointer;
}

.show_menu_btn:hover{
	transition: 1s;
	filter: invert(50%);

}

.user_panel{
	display: flex;
	margin-left: 20px;
}

.user_avatar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70px;
	height: 70px;
	background: #1723C7;
	border-radius: 20px;
	color:#FFFFFF;
	text-align: center;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 23px;
}

.user_name{
	display: flex;
	align-items: center;
	color:#1723C7;
	text-align: center;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 23px;
	margin-left: 10px;
}
