.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  gap: 39px;
  width: 1440px;
  height: 129px;
}

.nav_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free_consult_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 0px;
  gap: 9px;
  width: 352px;
  height: 47px;
  background: #FFFFFF;
  border: 2px solid #1723C7;
}

.free_consult_btn_name {
  width: 269px;
  height: 25px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 21.7054px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1723C7;
}

.free_consult_btn_square {
  width: 25px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.free_consult_btn_img {
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(./assets/images/arrowUpBlue.png);
  border: none;
}

.enter_btn_square {
  width: 25px;
  height: 25px;
}

.enter_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 21px;
  gap: 18px;
  width: 165px;
  height: 47px;
  background: #1723C7;
  margin-left: 30px;
}

.enter_btn_name {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 21.7054px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.enter_btn_btn_img {
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url(./assets/images/arrowUpWhite.png);
  border: none;
}

.show_menu_btn {
  width: 129px;
  height: 129px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
  background-size: cover;
  background-image: url(./assets/images/menu.png);
}

.user_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.user_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  background: #1723C7;
  border-radius: 20px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 23px;
}

.user_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1723C7;
  text-align: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 23px;
  margin-left: 10px;
}
/*# sourceMappingURL=Nav.module.css.map */