
html, body{
	display: flex;
	flex-direction: column;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
	width: 1440px;
	background: #FFFFFF;
}


.logo{
	width: 68px;
	height: 68px;
	flex-grow: 0;
	background-size: cover;
    background-image: url(../public/assets/element-img/logo.png);
}

.header-content{
	display: flex;
	align-items: flex-end;
	margin-top: 100px;
	width: 1440px;
}

.slogan{
	width: 969.36px;
}

.slogan .text{
	display: flex;
	flex-wrap: nowrap;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 62.8864px;
	line-height: 129.99%;
	text-transform: uppercase;
	color: #1723C7;
}

.slogan .right-row-img{
	width: 30px;
	height: 30px;
	flex-grow: 0;
	background-size: cover;
    background-image: url(../public/assets/element-img/arrowRightBlue.png);
	margin: auto 30px 30px 0px;
}

.header{
	display: flex;
	flex-direction: column;
}

.header .image-block{
	margin: 100px auto;
	width: 1376px;
	height: 543px;
	background: #FFFFFF;
	mix-blend-mode: normal;
	border-radius: 5px;
	background-size: cover;
    background-image: url(../public/assets/element-img/headerImg.png);
}

.header .descr{
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 221.49%;
	color: #1723C7;
}

.header .descr .text{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.header .arrow-up-blue-img{
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(../public/assets/element-img/arrowUpBlue.png);
	border: none;
	margin: auto 10px 10px 0px;
}

.main{	
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
}

.main .text{
	width: 739px;
	height: 72px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 62.8864px;
	line-height: 129.99%;
	text-transform: uppercase;
	color: #1723C7;
}

.block-list{
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 24px;
	margin-top: 100px;
	align-items: center;
}




.block-list .row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0px;
	gap: 23.77px;
	margin-top: 20px;
}

.block-list .block{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 11.32px;
	width: 323.83px;
	background: #FFFFFF;
	border: 1.53576px solid #1723C7;
}

.block-list .text{
	width: 100%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 62.8864px;
	line-height: 129.99%;
	color: #1723C7;
	text-align: center;
	margin-bottom: 50px;
	margin: 3% 0% 3% 0% ;
}

.block .text{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 24.5722px;
	line-height: 28px;
	color: #1723C7;
}

.rubrics{
	margin-top: 100px;
	width: 100%;
}

.rubrics .text{
	width: 100%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 62.8864px;
	line-height: 129.99%;
	color: #1723C7;
	text-align: center;
	margin-bottom: 50px;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 10px;
}

.grid-block{
	display: flex;
	flex-direction: column;
	padding: 30px;

	width: 410px;
	height: 290px;
	background: #FFFFFF;
	border: 0.952909px solid #1723C7;
}

.grid .bg-blue{
	background: #1723C7;
}

.grid .fg-white{
	color: #FFFFFF;
}

.rubric-name{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-between;
	padding: 0px;
	gap: 10px;
}

.rubric-title{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 20.964px;
	line-height: 129.99%;
	text-align: center;
	text-transform: uppercase;
	color: #1723C7;
}

.smile-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/smile.png);
}

.edit-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/edit.png);
}

.sms-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/sms.png);
}

.email-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/email.png);
}

.list-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/list.png);
}

.geo-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/geo.png);
}

.bag-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/bag.png);
}

.star-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/star.png);
}

.user-img{
	width: 24px;
	height: 24px;
	color: #1723C7;
	background-size: cover;
	background-image: url(../public/assets/element-img/user.png);
}

.grid .descr{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 19.0582px;
	line-height: 22px;
	margin-top: 5%;
}

.link{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 12.3878px 0px;
	margin-top: 5%;
}

.link-name{
	display: flex;
	align-items: start;
	text-align: start;
	width: 260.09px;
	height: 24px;
	width: 240px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 20.6833px;
	line-height: 24px;
	color: #1723C7;
}


.link .arrow-up-blue-img{
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(../public/assets/element-img/arrowUpBlue.png);
	border: none;
	margin: auto 10px 10px 10px;
}

.doubleblock{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	grid-column-start: 2;
	grid-column-end: 4;
	background: #1723C7;
	background-size: cover;
    background-image: url(../public/assets/element-img/silverRing.png);
	border: none;
}

.doubleblock .link{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 12.3878px 0px;
	gap: 2.86px;
}

.doubleblock .link .arrow-left-white-img{
	height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(../public/assets/element-img/arrowLeftWhite.png);
	border: none;
	margin: auto 10px 10px 10px;
}

.doubleblock .link-name{
	width: 130px;
	display: flex;
	align-items: start;
	text-align: start;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 20.6833px;
	line-height: 24px;
	color: #FFFFFF;
}

.doubleblock .title{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 20.964px;
	line-height: 129.99%;
	text-transform: uppercase;
	color: #FFFFFF;
}


.doubleblock .pro-img{
	display: flex;
	align-items: end;
	height: 25px;
    width: 60px;
	background-size: cover;
    background-image: url(../public/assets/element-img/pro.png);
	border: none;
	margin: 0;
}

.doubleblock .descr{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;

	color: #FFFFFF;
}

.about{
	display: block;
	position: relative;
	background: #1B1C21;
	width: 100%;
	height: 1261px;
	margin: 0 auto;
	background-size: cover;
	border: none;
}

.silver-stone-img{
	display: block;
	width: 100px; 
	height: 200px; 
	position: absolute;
	top: 30%; left: 93%;
	background-size: cover;
	border: none;
    background-image: url(../public/assets/element-img/silverStone.png);
}

.silver-conus-img{
	display: block;
	width: 200px; 
	height: 200px; 
	position: absolute;
	top: -6%; left: 3%;
	background-size: cover;
	border: none;
    background-image: url(../public/assets/element-img/silverConus.png);
}

.about-text{
	width: 745px;
	height: 230px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 46px;
	color: #FFFFFF;
	margin: 10% 0% 0% 35%;
}

.about-title{
	width: 526px;
	height: 82px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 62.8864px;
	line-height: 129.99%;
	text-align: center;
	text-transform: uppercase;
	margin: 5% 0% 0% 10%;
	color: #FFFFFF;
}

.about-btns{
	display: flex;
	align-items: flex-start;
	padding: 0px;
	gap: 26px;
	width: 104.69px;
	height: 39.35px;
	margin: 3% 0% 0% 10%;
}

.arrow-left-img{
	width: 39.35px;
	height: 39.35px;
	background-size: cover;
    background-image: url(../public/assets/element-img/arrowLeftWhite.png);
	border: none;
}

.arrow-right-img{
	width: 39.35px;
	height: 39.35px;
	background-size: cover;
    background-image: url(../public/assets/element-img/arrowRightWhite.png);
	border: none;
}

.feedbacks{
	display: flex;
	margin: 5% 0% 0% 7%;
}

.feedback-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 38px 37px;
	width: 400px;
	height: 350px;
	background: #FFFFFF;
	margin-right: 1%;
}

.feedback-author{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 12px;
	
	width: 312px;
	height: 44px;
}

.feedback-author-avatar{
	width: 42px;
	height: 42px;
	background-size: cover;
    background-image: url(../public/assets/element-img/authorPhoto.png);
	border: none;
	border-radius: 26.1153px;
}

.author{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	
	width: 258px;
	height: 44px;
}

.author-name{
	width: 258px;
	height: 20px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	text-align: start;
	text-transform: capitalize;
	color: #1B1C21;
}

.author-activity{
	width: 153px;
	height: 20px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	text-align: start;
	text-transform: capitalize;
	color: #5C5C5C;
}

.feedback-text{
	width: 359px;
	height: 220px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 19.0582px;
	line-height: 22px;
	color: #000000;
	margin-top: 10%;
}

.how-it-works{
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	mix-blend-mode: normal;
	width: 100%;
	margin: 50px auto;
}

.how-it-works-title{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 62.8864px;
	line-height: 129.99%;
	text-align: center;
	text-transform: uppercase;
	color: #1723C7;
}

.how-it-works-steps{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.step{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	width: 90%;
}

.step-img{
	width: 555px;
	height: 550px;
	background-size: cover;
    background-image: url(../public/assets/element-img/stepImage.png);
	border: none;
}

.step-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #FFFFFF;
}

.step-title{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
	color: #1723C7;
}

.short-underline{
	width: 126.69px;
	height: 0px;
	left: 50.55px;
	top: 98.06px;
	margin: 1% 0 0 1%;
	border: 1.21815px solid #1723C7;
	margin-bottom: 50px;
}

.step-descr{
	width: 429px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 33px;
	color: #000000;
}

.step .arrow-up-blue-img{
	height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(../public/assets/element-img/arrowUpBlue.png);
	border: none;
	margin: auto 10px 10px 0px;
}

.promo{
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #1723C7;
	mix-blend-mode: normal;
	margin: 0 auto;
}

.promo-text{
	display: flex;
	flex-direction: column;
	width: 834px;
	height: 281px;
	margin: 5% 10% 10% 10%;
}

.promo-title{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 61px;
	color: #FFFFFF;
	width: 100%;
}

.promo-descr{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 200;
	font-size: 30px;
	line-height: 31px;
	color: #FFFFFF;
	width: 70%;
	margin-top: 5%;
}

.promo-group{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 5% 10% 0% 10%;
}

.promo-group-block{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0% 1% 0% 1%;
	height: 62.19px;
	border: 1.66286px solid #FFFFFF;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 26.6057px;
	line-height: 31px;
	text-align: center;
	color: #FFFFFF;
}

.create-content-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 13px 21px;
	gap: 18px;
	width: 20%;
	background: #FFFFFF;
	margin: 5% 10% 0% 10%;
}

.create-content-btn-text{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 21.7054px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #1723C7;
}

.create-content-btn .arrow-up-blue-img{
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(../public/assets/element-img/arrowUpBlue.png);
	border: none;
	margin: 5px 0px 5px 0px;
}

.promo-bg{
	display: block;
	position: relative;
	width: 90%;
	height: 664px;
	background: #1B1C21;
	mix-blend-mode: normal;
	margin: 10% auto ;
}

.promo-text1{
	width: 953px;
	height: 153px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 145.49%;
	color: #FFFFFF;
	margin: 7% 0% 5% 10%;
}

.promo-text2{
	width: 687px;
	height: 90px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 129.99%;
	color: #FFFFFF;
	margin: 5% 0% 5% 40%;
}

.starlight-img{
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0%; left: 0%;
	background-size: cover;
	border: none;
    background-image: url(../public/assets/element-img/starlight.png);
}

.circle-brown-row-img{
	display: block;
	width: 400px;
	height: 200px;
	position: absolute;
	top: 70%; left: 70%;
	background-size: cover;
	border: none;
    background-image: url(../public/assets/element-img/circleBrownRow.png);
}

.ellipse-top-img{
	display: block;
	width: 400px;
	height: 200px;
	position: absolute;
	top: 0%; left: 71%;
	background-size: cover;
	border: none;
    background-image: url(../public/assets/element-img/ellipse-top.png);
	filter: blur(28.7689px);
}

.ellipse-down-img{
	display: block;
	width: 443px;
	height: 499.48px;
	position: absolute;
	top: 30%; left: 0%;
	background-size: cover;
	border: none;
    background-image: url(../public/assets/element-img/ellipse-down.png);
	filter: blur(74.1275px);
}

.promo-bg-text1{
	display: block;
	width: 724px;
	height: 182px;
	position: absolute;
	top: 77%; left: 0%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 80.99%;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.11);
}

.promo-bg-text2{
	display: block;
	width: 308px;
	height: 122.84px;
	position: absolute;
	top: 30%; left: 82%;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 129.99%;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.11);
}

.promo-link-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 13px 21px;
	width: 393px;
	height: 66px;
	background: #FFFFFF;
	margin: 0% 0% 0% 40%;
}

.promo-link-btn-text{
	width: 225px;
	height: 25px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 21.7054px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #1723C7;

}

.promo-link-btn .arrow-up-blue-img{
    height: 25px;
    width: 25px;
    background-size: cover;
    background-image: url(../public/assets/element-img/arrowUpBlue.png);
	border: none;
	margin: 5px 0px 5px 5px;
}

.footer{
	display: flex;
	width: 100%;
	height: 562px;
	background: #1B1C21;
}

.footer-contacts{
	margin: 10% 0% 0% 10%;
}

.footer-text{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
	color: #FFFFFF;
}

.footer-email{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
	color: #FFFFFF;
}

.footer-links{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	width: 450px;
	height: 22px;
	margin: 10% 0% 0% 15%;
}

.footer-link{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 5%;
}

.footer-copyright{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #F8F8F8;
	opacity: 0.5;
	margin: 50% 0% 0% 3%;
}
